body {
    min-height: 200vh;
    position: relative;
    padding-bottom: 150px;
     box-sizing: border-box;
    }

.signup {
    background-color: #ffcc00;
    border: none;
    color: #000;
    padding: 7px 15px;
    border-radius: 5px;
}
     
h1 {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}